body {
    background-image: url(../images/juego-fondo.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (max-width: 600px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}