body {
    background-image: url(../images/juego-fondo.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: grid;
    place-items: center;
}

.display-game {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    text-align: center;
}

img {
    user-select: none;
    position: absolute;
    cursor: pointer;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}