:root {
    --color-border: #e17eb9;
    --color-title-target: #6c2abb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh; 
}

.header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    gap: 15px;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

a:hover {
    color: var(--color-border);
    transition: color 0.3s ease;
}

footer {
    width: 100%;
    padding: 20px 10px;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

/*estilos especificos para celu*/
@media (max-width: 600px) {
    a {
        font-size: 0.9rem;
    }

    #restartBtn {
        font-size: 0.9rem;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }
}